/**
 * Montserrat Font Family
 */
@font-face {
  font-family: 'MontserratThin';
  src: url(../../node_modules/typeface-montserrat/files/montserrat-latin-100.woff2) format('woff2');
}
@font-face {
  font-family: 'MontserratThinItalic';
  src: url(../../node_modules/typeface-montserrat/files/montserrat-latin-100italic.woff2) format('woff2');
}
@font-face {
  font-family: 'MontserratLight';
  src: url(../../node_modules/typeface-montserrat/files/montserrat-latin-200.woff2) format('woff2');
}
@font-face {
  font-family: 'MontserratLightItalic';
  src: url(../../node_modules/typeface-montserrat/files/montserrat-latin-200italic.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  src: url(../../node_modules/typeface-montserrat/files/montserrat-latin-400.woff2) format('woff2');
}
@font-face {
  font-family: 'MontserratItalic';
  src: url(../../node_modules/typeface-montserrat/files/montserrat-latin-400italic.woff2) format('woff2');
}
@font-face {
  font-family: 'MontserratMedium';
  src: url(../../node_modules/typeface-montserrat/files/montserrat-latin-500.woff2) format('woff2');
}
@font-face {
  font-family: 'MontserratMediumItalic';
  src: url(../../node_modules/typeface-montserrat/files/montserrat-latin-500italic.woff2) format('woff2');
}
@font-face {
  font-family: 'MontserratBold';
  src: url(../../node_modules/typeface-montserrat/files/montserrat-latin-700.woff2) format('woff2');
}
@font-face {
  font-family: 'MontserratBoldItalic';
  src: url(../../node_modules/typeface-montserrat/files/montserrat-latin-700italic.woff2) format('woff2');
}
@font-face {
  font-family: 'MontserratExtraBold';
  src: url(../../node_modules/typeface-montserrat/files/montserrat-latin-900.woff2) format('woff2');
}
@font-face {
  font-family: 'MontserratExtraBoldItalic';
  src: url(../../node_modules/typeface-montserrat/files/montserrat-latin-900italic.woff2) format('woff2');
}

.montserrat-thin {
  font-family: 'MontserratThin', 'Montserrat', Arial, sans-serif;
}
.montserrat-thin-italic {
  font-family: 'MontserratThinItalic', 'MontserratItalic', 'Montserrat', Arial, sans-serif;
}
.montserrat-light {
  font-family: 'MontserratLight', 'Montserrat', Arial, sans-serif;
}
.montserrat-light-italic {
  font-family: 'MontserratLightItalic', 'MontserratItalic', 'Montserrat', Arial, sans-serif;
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}
.montserrat-italic {
  font-family: 'MontserratItalic', 'Montserrat', Arial, sans-serif;
}
.montserrat-medium {
  font-family: 'MontserratMedium', 'Montserrat', Arial, sans-serif;
}
.montserrat-medium-italic {
  font-family: 'MontserratMediumItalic', 'MontserratItalic', 'Montserrat', Arial, sans-serif;
}
.montserrat-bold {
  font-family: 'MontserratBold', sans-serif;
}
.montserrat-bold-italic {
  font-family: 'MontserratBoldItalic', 'MontserratItalic', 'Montserrat', sans-serif;
}
.montserrat-extra-bold {
  font-family: 'MontserratExtraBold', 'Montserrat', Arial, sans-serif;
}
.montserrat-extra-bold-italic {
  font-family: 'MontserratExtraBoldItalic', 'MontserratItalic', 'Montserrat', Arial, sans-serif;
}

/**
 * Roboto Font Family
 */
@font-face {
  font-family: 'RobotoThin';
  src: url(../../node_modules/typeface-roboto/files/roboto-latin-100.woff2) format('woff2');
}
@font-face {
  font-family: 'RobotoThinItalic';
  src: url(../../node_modules/typeface-roboto/files/roboto-latin-100italic.woff2) format('woff2');
}
@font-face {
  font-family: 'RobotoLight';
  src: url(../../node_modules/typeface-roboto/files/roboto-latin-300.woff2) format('woff2');
}
@font-face {
  font-family: 'RobotoLightItalic';
  src: url(../../node_modules/typeface-roboto/files/roboto-latin-300italic.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  src: url(../../node_modules/typeface-roboto/files/roboto-latin-400.woff2) format('woff2');
}
@font-face {
  font-family: 'RobotoItalic';
  src: url(../../node_modules/typeface-roboto/files/roboto-latin-400italic.woff2) format('woff2');
}
@font-face {
  font-family: 'RobotoMedium';
  src: url(../../node_modules/typeface-roboto/files/roboto-latin-500.woff2) format('woff2');
}
@font-face {
  font-family: 'RobotoMediumItalic';
  src: url(../../node_modules/typeface-roboto/files/roboto-latin-500italic.woff2) format('woff2');
}
@font-face {
  font-family: 'RobotoBold';
  src: url(../../node_modules/typeface-roboto/files/roboto-latin-700.woff2) format('woff2');
}
@font-face {
  font-family: 'RobotoBoldItalic';
  src: url(../../node_modules/typeface-roboto/files/roboto-latin-700italic.woff2) format('woff2');
}
@font-face {
  font-family: 'RobotoExtraBold';
  src: url(../../node_modules/typeface-roboto/files/roboto-latin-900.woff2) format('woff2');
}
@font-face {
  font-family: 'RobotoExtraBoldItalic';
  src: url(../../node_modules/typeface-roboto/files/roboto-latin-900italic.woff2) format('woff2');
}

.roboto-thin {
  font-family: 'RobotoThin', 'Roboto', Arial, sans-serif;
}
.roboto-thin-italic {
  font-family: 'RobotoThinItalic', 'RobotoItalic', 'Roboto', Arial, sans-serif;
}
.roboto-light {
  font-family: 'RobotoLight', 'Roboto', Arial, sans-serif;
}
.roboto-light-italic {
  font-family: 'RobotoLightItalic', 'RobotoItalic', 'Roboto', Arial, sans-serif;
}
.roboto {
  font-family: 'Roboto', Arial, sans-serif;
}
.roboto-italic {
  font-family: 'RobotoItalic', 'Roboto', Arial, sans-serif;
}
.roboto-medium {
  font-family: 'RobotoMedium', 'Roboto', Arial, sans-serif;
}
.roboto-medium-italic {
  font-family: 'RobotoMediumItalic', 'RobotoItalic', 'Roboto', Arial, sans-serif;
}
.roboto-bold {
  font-family: 'RobotoBold', sans-serif;
}
.roboto-bold-italic {
  font-family: 'RobotoBoldItalic', 'RobotoItalic', 'RobotoItalic', sans-serif;
}
.roboto-extra-bold {
  font-family: 'RobotoExtraBold', 'Roboto', Arial, sans-serif;
}
.roboto-extra-bold-italic {
  font-family: 'RobotoExtraBoldItalic', 'RobotoItalic', 'Roboto', Arial, sans-serif;
}
