@import 'css/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  @apply text-white;
  height: 100vh;
  @apply bg-grey;
  font-family: Arial, sans-serif;
  overflow-y: hidden;
}
